.our-team > h2 {
  line-height: 4em;
  font-size: 2.5em;
  font-weight: 700;
}

.column:nth-child(4n) {
  margin-left: 16%;
}
.column {
  display: inline-block;
  width: calc(100% / 3 - 20px);
  margin-bottom: 50px;
  padding: 0 8px;
  text-align: center;
}

.column img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px dashed #ec950f;
}

.column h2 {
  font-weight: 700;
  line-height: 35px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about-section p {
  line-height: 35px;
  text-align: justify;
}

.our-team {
  padding-bottom: 2em;
}

.container {
  padding: 0 16px;
}

.about-us a {
  margin-right: 10px;
  font-size: 20px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.fa {
  color: #222;
}

.fa-facebook-square:hover {
  color: #00348b;
}

.fa-linkedin:hover {
  color: #51acbf;
}

.fa-github-square:hover {
  color: #59133b;
}
